In [77]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder

In [78]:
df = pd.read_csv("rawdata.csv")
print(df.shape)

(1158, 20)

In [79]:
df.head(5)

,WinningTeam,BattleTime,playerTag,mode,map,result,StarPlayerTag,StarPlayerBrawler,Brawler1Name,Brawler1Tag,Brawler2Name,Brawler2Tag,Brawler3Name,Brawler3Tag,Brawler4Name,Brawler4Tag,Brawler5Name,Brawler5Tag,Brawler6Name,Brawler6Tag
0,1,20200530T122433.000Z,#9U2QJ0P,brawlBall,Backyard Bowl,1,#9U2QJ0P,BEA,PIPER,#VGR0CJ29,BEA,#9U2QJ0P,GENE,#9UR09Q80Y,BEA,#222VJU0CU,BROCK,#20C2RRRGY,EMZ,#Y220JJJ9
1,1,20200530T121808.000Z,#9U2QJ0P,brawlBall,Backyard Bowl,1,#9U2QJ0P,BEA,PIPER,#VGR0CJ29,BEA,#9U2QJ0P,GENE,#9UR09Q80Y,GENE,#2R9YVLQY,MAX,#22L8CLYQU,PENNY,#28U009JPY
2,1,20200530T121207.000Z,#9U2QJ0P,brawlBall,Backyard Bowl,1,#9U2QJ0P,BEA,PIPER,#VGR0CJ29,BEA,#9U2QJ0P,GENE,#9UR09Q80Y,GENE,#8YVQRQP,BROCK,#9QJP9LP,SPIKE,#98VJCL2PQ
3,1,20200530T120359.000Z,#9U2QJ0P,brawlBall,Backyard Bowl,1,#VGR0CJ29,PIPER,PIPER,#VGR0CJ29,BEA,#9U2QJ0P,GENE,#9UR09Q80Y,JACKY,#2UPURLUG2,FRANK,#2UCV2R0LV,POCO,#22RURYRV0
4,1,20200530T120028.000Z,#9U2QJ0P,brawlBall,Backyard Bowl,1,#VGR0CJ29,PIPER,PIPER,#VGR0CJ29,BEA,#9U2QJ0P,GENE,#9UR09Q80Y,PIPER,#PUG8CR80,BROCK,#98JQVGLP9,JACKY,#8822ULJ9Q

Find frequent teams from winning teams

819/1158 wins, could result from deleting duplicate matches and probably

In [80]:
#dfWinners = df[df["result"] == 1]
#dfWinningTeams = pd.DataFrame(columns=["Brawler1", "Brawler2", "Brawler3"])
winningTeams = []

In [81]:
counter = 0
for index, row in df.iterrows():
    team = []
    if row["WinningTeam"] == 1 and row["result"] != 0:
        team.append(row["Brawler1Name"])
        team.append(row["Brawler2Name"])
        team.append(row["Brawler3Name"])
    elif row["result"] != 0:
        team.append(row["Brawler4Name"])
        team.append(row["Brawler5Name"])
        team.append(row["Brawler6Name"])

    if len(team) != 0:
        winningTeams.append(team)

In [82]:
te = TransactionEncoder()
te_ary = te.fit(winningTeams).transform(winningTeams)
dfFreqSetsWinner = pd.DataFrame(te_ary, columns=te.columns_)
dfFreqSetsWinner

,8-BIT,BARLEY,BEA,BIBI,BO,BROCK,BULL,CARL,COLT,CROW,...,PIPER,POCO,RICO,ROSA,SANDY,SHELLY,SPIKE,SPROUT,TARA,TICK
0,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1121,False,False,False,False,True,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
1122,False,False,False,False,True,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
1123,False,False,False,False,True,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
1124,False,False,False,False,True,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False

In [83]:
frequent_itemsets_winner = apriori(dfFreqSetsWinner, min_support=0.01, use_colnames=True)
frequent_itemsets_winner['length'] = frequent_itemsets_winner['itemsets'].apply(lambda x: len(x))

In [84]:
frequent_itemsets_winner[ (frequent_itemsets_winner['length'] == 3) ].sort_values(by=["support"], ascending=False)

      support               itemsets  length
113  0.026667    (BROCK, BEA, PENNY)       3
120  0.021333    (BROCK, PIPER, PAM)       3
112  0.019556      (BROCK, BEA, PAM)       3
114  0.017778    (BROCK, PIPER, BEA)       3
109  0.014222       (BIBI, BEA, PAM)       3
110  0.014222     (BROCK, CROW, BEA)       3
119  0.014222   (BROCK, PIPER, COLT)       3
111  0.013333    (BROCK, BEA, MR. P)       3
121  0.013333  (BROCK, PIPER, PENNY)       3
122  0.012444     (CROW, PAM, PENNY)       3
116  0.011556     (CROW, BEA, PIPER)       3
115  0.010667    (BROCK, SPIKE, BEA)       3
117  0.010667        (EMZ, BEA, PAM)       3
118  0.010667      (BEA, PAM, PENNY)       3
123  0.010667     (MAX, SANDY, GALE)       3

# Loosing Teams

In [85]:
#dfWinningTeams = pd.DataFrame(columns=["Brawler1", "Brawler2", "Brawler3"])
losingTeams = []

In [86]:
counter = 0
for index, row in df.iterrows():
    team = []
    if row["WinningTeam"] == 2 and row["result"] != 0:
        team.append(row["Brawler1Name"])
        team.append(row["Brawler2Name"])
        team.append(row["Brawler3Name"])
    elif row["result"] != 0:
        team.append(row["Brawler4Name"])
        team.append(row["Brawler5Name"])
        team.append(row["Brawler6Name"])

    if len(team) != 0:
        losingTeams.append(team)

In [87]:
te_2 = TransactionEncoder()
te_ary_2 = te_2.fit(losingTeams).transform(losingTeams)
dfFreqSetsLoser = pd.DataFrame(te_ary_2, columns=te.columns_)
dfFreqSetsLoser

,8-BIT,BARLEY,BEA,BIBI,BO,BROCK,BULL,CARL,COLT,CROW,...,PIPER,POCO,RICO,ROSA,SANDY,SHELLY,SPIKE,SPROUT,TARA,TICK
0,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1121,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1122,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
1123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1124,False,False,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [88]:
frequent_itemsets_loser = apriori(dfFreqSetsLoser, min_support=0.01, use_colnames=True)
frequent_itemsets_loser['length'] = frequent_itemsets_loser['itemsets'].apply(lambda x: len(x))

In [89]:
frequent_itemsets_loser[ (frequent_itemsets_loser['length'] == 3) ].sort_values(by=["support"], ascending=False)

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

# All Teams

In [90]:
#dfWinningTeams = pd.DataFrame(columns=["Brawler1", "Brawler2", "Brawler3"])
Teams = []

In [91]:
counter = 0
for index, row in df.iterrows():
    team1 = []
    team2 = []

    team1.append(row["Brawler1Name"])
    team1.append(row["Brawler2Name"])
    team1.append(row["Brawler3Name"])

    team2.append(row["Brawler4Name"])
    team2.append(row["Brawler5Name"])
    team2.append(row["Brawler6Name"])


    Teams.append(team1)
    Teams.append(team2)

In [92]:
te_all = TransactionEncoder()
te_ary_all = te_all.fit(Teams).transform(Teams)
dfFreqSetsAll = pd.DataFrame(te_ary_all, columns=te.columns_)
dfFreqSetsAll

,8-BIT,BARLEY,BEA,BIBI,BO,BROCK,BULL,CARL,COLT,CROW,...,PIPER,POCO,RICO,ROSA,SANDY,SHELLY,SPIKE,SPROUT,TARA,TICK
0,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2311,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
2312,False,False,False,False,True,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
2313,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2314,False,False,False,False,True,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
2315,False,False,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [93]:
frequent_itemsets_all = apriori(dfFreqSetsAll, min_support=0.01, use_colnames=True)
frequent_itemsets_all['length'] = frequent_itemsets_all['itemsets'].apply(lambda x: len(x))

In [94]:
frequent_itemsets_all[ (frequent_itemsets_all['length'] == 3) ].sort_values(by=["support"], ascending=False)

      support             itemsets  length
105  0.016408  (BROCK, BEA, PENNY)       3
104  0.012953    (BROCK, BEA, PAM)       3
107  0.012090  (BROCK, PIPER, PAM)       3
106  0.010363  (BROCK, PIPER, BEA)       3